canvas#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/bubble.webp"),
    url("/assets/images/coral.webp");
  background-repeat: no-repeat;
  background-position: left top, right top;
  background-size: contain;
}
